<% if authenticated? %>
  <p>Hello, <%= current_account.name %> (<%= current_account.email %>)!</p>
  <p><%= link_to 'Logout', session_path, method: :delete %></p>
<% else %>
  <p><%= link_to 'Login (OAuth)', new_session_path(oauth: true) %></p>
  <p><%= link_to 'Login (OpenID Connect)', new_session_path %></p>
<% end %>